<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionic2.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ionic2 Hello World</name>
    <description>An awesome Ionic/Cordova app.</description>
    <author email="dedycated.inc@gmail.com" href="http://dedycated.com/">DedyCated Labs</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="resources/ionic2.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <preference name="SplashScreenBackgroundColor" value="0xFFFFFFFF" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="com.mbppower.camerapreview" spec="~0.0.8" />
    <plugin name="cordova-plugin-camera" spec="~2.3.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.4" />
    <plugin name="cordova-plugin-device" spec="~1.1.3" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
    <plugin name="cordova.plugins.diagnostic" spec="~3.2.2" />
    <plugin name="plugin.google.maps" spec="~1.3.9">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyDO5x4sJRMKPnzPeYbotQHnqCFFAdU0bPo" />
        <variable name="API_KEY_FOR_IOS" value="AIzaSyCsEZ8K4Urqbt2VN3_Tpoo7LoRbRm0mPCc" />
    </plugin>
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.2">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="undefined" />
    </plugin>
</widget>
